// Variables

$color-primary: #329153 ;
$color-secondary: #fff ;
$color-border: gray ;
$border-list: rgba(255,255,255, 0.3) ;
$list-hover: rgba(0,0,0, 0.5) ;
$shadow: rgba($color: #000000, $alpha: 0.10) ;
$bg-navbar: #333946 ;
$bg-twitter: #2fc2ef ;
$bg-facebook: #4c66a4 ;
$bg-youtube: #cc181e ;
$bg-insta: #ea4c89 ;
$bg-linkedin: #f4a62a ;
$bg-footer: #222222 ;
$bg-copy: #111111 ;
$text-marquee: #7C7C7C ;